In [1]:
import pandas as pd
import numpy as np

In [2]:
main_df = pd.read_csv("Airline-Sentiment-2-w-AA.csv", encoding="latin-1")
main_df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448150,False,finalized,3,2/25/15 5:24,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2/24/15 11:35,5.703060e+17,NaN,Eastern Time (US & Canada)
1,681448153,False,finalized,3,2/25/15 1:53,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
2,681448156,False,finalized,3,2/25/15 10:01,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2/24/15 11:15,5.703010e+17,Lets Play,Central Time (US & Canada)
3,681448158,False,finalized,3,2/25/15 3:05,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
4,681448159,False,finalized,3,2/25/15 5:50,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2/24/15 11:14,5.703010e+17,NaN,Pacific Time (US & Canada)

In [3]:
df.shape

NameError: name 'df' is not defined

In [ ]:
df = main_df[["_unit_id", "airline_sentiment", "airline_sentiment:confidence", "text"]]
df

,_unit_id,airline_sentiment,airline_sentiment:confidence,text
0,681448150,neutral,1.0000,@VirginAmerica What @dhepburn said.
1,681448153,positive,0.3486,@VirginAmerica plus you've added commercials t...
2,681448156,neutral,0.6837,@VirginAmerica I didn't today... Must mean I n...
3,681448158,negative,1.0000,@VirginAmerica it's really aggressive to blast...
4,681448159,negative,1.0000,@VirginAmerica and it's a really big bad thing...
...,...,...,...,...
14635,681679794,positive,0.3487,@AmericanAir thank you we got on a different f...
14636,681679795,negative,1.0000,@AmericanAir leaving over 20 minutes Late Flig...
14637,681679796,neutral,1.0000,@AmericanAir Please bring American Airlines to...
14638,681679797,negative,1.0000,"@AmericanAir you have my money, you change my ..."
14639,681679798,neutral,0.6771,@AmericanAir we have 8 ppl so we need 2 know h...

In [ ]:
df.head()

,_unit_id,airline_sentiment,airline_sentiment:confidence,text
0,681448150,neutral,1.0000,@VirginAmerica What @dhepburn said.
1,681448153,positive,0.3486,@VirginAmerica plus you've added commercials t...
2,681448156,neutral,0.6837,@VirginAmerica I didn't today... Must mean I n...
3,681448158,negative,1.0000,@VirginAmerica it's really aggressive to blast...
4,681448159,negative,1.0000,@VirginAmerica and it's a really big bad thing...

In [ ]:
def remove_nametags(sentence):
    """A simple function to remove name tags"""
    clean_words = []
    for word in sentence.split():
        if "@" not in word:
            clean_words.append(word)
    return " ".join(clean_words)

df["text"] = df["text"].apply(remove_nametags)

/tmp/ipykernel_8452/2129448384.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].apply(remove_nametags)

In [ ]:
# Removing numbers
import re
to_remove = r"[0-9]"

df["text"] = df["text"].apply(lambda x: re.sub(to_remove, "", x))

/tmp/ipykernel_8452/1497160858.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].apply(lambda x: re.sub(to_remove, "", x))

In [ ]:
df["text"]

0                                               What said.
1        plus you've added commercials to the experienc...
2        I didn't today... Must mean I need to take ano...
3        it's really aggressive to blast obnoxious "ent...
4                 and it's a really big bad thing about it
                               ...
14635    thank you we got on a different flight to Chic...
14636    leaving over  minutes Late Flight. No warnings...
14637        Please bring American Airlines to #BlackBerry
14638    you have my money, you change my flight, and d...
14639    we have  ppl so we need  know how many seats a...
Name: text, Length: 14640, dtype: object

In [ ]:
import string

df["text"] = df["text"].apply(lambda x:\
                              x.translate(str.maketrans("", "",string.punctuation)))

/tmp/ipykernel_8452/2943594681.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].apply(lambda x:\

In [ ]:
df["text"] = df["text"].str.lower()
df.head()

/tmp/ipykernel_8452/1324128920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].str.lower()

,_unit_id,airline_sentiment,airline_sentiment:confidence,text
0,681448150,neutral,1.0000,what said
1,681448153,positive,0.3486,plus youve added commercials to the experience...
2,681448156,neutral,0.6837,i didnt today must mean i need to take another...
3,681448158,negative,1.0000,its really aggressive to blast obnoxious enter...
4,681448159,negative,1.0000,and its a really big bad thing about it

In [ ]:
df["text"][:50]

0                                             what said
1     plus youve added commercials to the experience...
2     i didnt today must mean i need to take another...
3     its really aggressive to blast obnoxious enter...
4               and its a really big bad thing about it
5     seriously would pay  a flight for seats that d...
6     yes nearly every time i fly vx this ûïear wor...
7     really missed a prime opportunity for men with...
8                          well i didntûbut now i do d
9     it was amazing and arrived an hour early youre...
10    did you know that suicide is the second leadin...
11    i lt pretty graphics so much better than minim...
12    this is such a great deal already thinking abo...
13    im flying your fabulous seductive skies again ...
14                                               thanks
15                         sfopdx schedule is still mia
16    so excited for my first cross country flight l...
17    i flew from nyc to sfo last week and couldnt f...
18                             i ü flying ÷¼üùô
19    you know what would be amazingly awesome bosfl...
20    why are your first fares in may over three tim...
21                 i love this graphic httptcoutgrrwaaa
22    i love the hipster innovation you are a feel g...
23    will you be making bosgtlas non stop permanent...
24    you guys messed up my seating i reserved seati...
25    status match program i applied and its been th...
26    what happened  ur vegan food options at least ...
27    do you miss me dont worry well be together ver...
28    amazing to me that we cant get any cold air fr...
29    lax to ewr  middle seat on a red eye such a no...
30    hi i just bked a cool birthday trip with you b...
31    are the hours of operation for the club at sfo...
32    help left expensive headphones on flight  iad ...
33    awaiting my return phone call just would prefe...
34    this is great news america could start flights...
35    nice rt vibe with the moodlight from takeoff t...
36    moodlighting is the only way to fly best exper...
37         done and done best airline around hands down
38                  when can i book my flight to hawaii
39    your chat support is not working on your site ...
40    view of downtown los angeles the hollywood sig...
41    hey first time flyer next week  excited but im...
42    plz help me win my bid upgrade for my flight  ...
43    i have an unused ticket but moved to a new cit...
44    are flights leaving dallas for seattle on time...
45            im elevategold for a good reason you rock
46               dream httptcooadrfaoq httptcolwwdackhx
47                           wow this just blew my mind
48    after last night tribute soundofmusic oscars i...
49                                all were entertaining
Name: text, dtype: object

In [ ]:
def remove_emojis(data):
    """A simple function to remove all emojis"""
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"
                           u"\U0001F300-\U0001F5FF"
                           u"\U0001F680-\U0001F6FF"
                           u"\U0001F1E0-\U0001F1FF"
                           u"\U00002500-\U00002BEF"
                           u"\U00002702-\U000027B0"
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           u"\U0001f926-\U0001f937"
                           u"\U00010000-\U0010ffff"
                           u"\u2640-\u2642" 
                           u"\u2600-\u2B55"
                           u"\u200d"
                           u"\u23cf"
                           u"\u23e9"
                           u"\u231a"
                           u"\ufe0f"
                           u"\u3030"
                           "]+", re.UNICODE)
    return re.sub(emoji_pattern, "", data)

df["text"] = df["text"].apply(remove_emojis)

/tmp/ipykernel_8452/727677261.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].apply(remove_emojis)

In [ ]:
df["text"][:60]

0                                             what said
1     plus youve added commercials to the experience...
2     i didnt today must mean i need to take another...
3     its really aggressive to blast obnoxious enter...
4               and its a really big bad thing about it
5     seriously would pay  a flight for seats that d...
6     yes nearly every time i fly vx this ûïear wor...
7     really missed a prime opportunity for men with...
8                          well i didntûbut now i do d
9     it was amazing and arrived an hour early youre...
10    did you know that suicide is the second leadin...
11    i lt pretty graphics so much better than minim...
12    this is such a great deal already thinking abo...
13    im flying your fabulous seductive skies again ...
14                                               thanks
15                         sfopdx schedule is still mia
16    so excited for my first cross country flight l...
17    i flew from nyc to sfo last week and couldnt f...
18                             i ü flying ÷¼üùô
19    you know what would be amazingly awesome bosfl...
20    why are your first fares in may over three tim...
21                 i love this graphic httptcoutgrrwaaa
22    i love the hipster innovation you are a feel g...
23    will you be making bosgtlas non stop permanent...
24    you guys messed up my seating i reserved seati...
25    status match program i applied and its been th...
26    what happened  ur vegan food options at least ...
27    do you miss me dont worry well be together ver...
28    amazing to me that we cant get any cold air fr...
29    lax to ewr  middle seat on a red eye such a no...
30    hi i just bked a cool birthday trip with you b...
31    are the hours of operation for the club at sfo...
32    help left expensive headphones on flight  iad ...
33    awaiting my return phone call just would prefe...
34    this is great news america could start flights...
35    nice rt vibe with the moodlight from takeoff t...
36    moodlighting is the only way to fly best exper...
37         done and done best airline around hands down
38                  when can i book my flight to hawaii
39    your chat support is not working on your site ...
40    view of downtown los angeles the hollywood sig...
41    hey first time flyer next week  excited but im...
42    plz help me win my bid upgrade for my flight  ...
43    i have an unused ticket but moved to a new cit...
44    are flights leaving dallas for seattle on time...
45            im elevategold for a good reason you rock
46               dream httptcooadrfaoq httptcolwwdackhx
47                           wow this just blew my mind
48    after last night tribute soundofmusic oscars i...
49                                all were entertaining
50    is flight  on its way was supposed to take off...
51    julie andrews all the way though was very impr...
52                    wish you flew out of atlanta soon
53                             julie andrews hands down
54    will flights be leaving dallas for la on febru...
55    hi im so excited about your  lgagtdal deal but...
56    you know it need it on my spotify stat guiltyp...
57                       im lady gaga she is amazing ù÷
58                                               carrie
59    new marketing song httpstcoflfulcbq let us kno...
Name: text, dtype: object

In [ ]:
def remove_non_standard_char(review):
    """A simple function to remove characters outside the ASCII range"""
    pattern = re.compile(r"[^\x00-\x7F]+")
    clean_string = re.sub(pattern, "", review)
    return clean_string

df["text"] = df["text"].apply(remove_non_standard_char)

/tmp/ipykernel_8452/288166832.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].apply(remove_non_standard_char)

In [ ]:
df["text"][:50]

0                                             what said
1     plus youve added commercials to the experience...
2     i didnt today must mean i need to take another...
3     its really aggressive to blast obnoxious enter...
4               and its a really big bad thing about it
5     seriously would pay  a flight for seats that d...
6     yes nearly every time i fly vx this ear worm w...
7     really missed a prime opportunity for men with...
8                            well i didntbut now i do d
9     it was amazing and arrived an hour early youre...
10    did you know that suicide is the second leadin...
11    i lt pretty graphics so much better than minim...
12    this is such a great deal already thinking abo...
13    im flying your fabulous seductive skies again ...
14                                               thanks
15                         sfopdx schedule is still mia
16    so excited for my first cross country flight l...
17    i flew from nyc to sfo last week and couldnt f...
18                                           i  flying
19    you know what would be amazingly awesome bosfl...
20    why are your first fares in may over three tim...
21                 i love this graphic httptcoutgrrwaaa
22    i love the hipster innovation you are a feel g...
23    will you be making bosgtlas non stop permanent...
24    you guys messed up my seating i reserved seati...
25    status match program i applied and its been th...
26    what happened  ur vegan food options at least ...
27    do you miss me dont worry well be together ver...
28    amazing to me that we cant get any cold air fr...
29    lax to ewr  middle seat on a red eye such a no...
30    hi i just bked a cool birthday trip with you b...
31    are the hours of operation for the club at sfo...
32    help left expensive headphones on flight  iad ...
33    awaiting my return phone call just would prefe...
34    this is great news america could start flights...
35    nice rt vibe with the moodlight from takeoff t...
36    moodlighting is the only way to fly best exper...
37         done and done best airline around hands down
38                  when can i book my flight to hawaii
39    your chat support is not working on your site ...
40    view of downtown los angeles the hollywood sig...
41    hey first time flyer next week  excited but im...
42    plz help me win my bid upgrade for my flight  ...
43    i have an unused ticket but moved to a new cit...
44    are flights leaving dallas for seattle on time...
45            im elevategold for a good reason you rock
46               dream httptcooadrfaoq httptcolwwdackhx
47                           wow this just blew my mind
48    after last night tribute soundofmusic oscars i...
49                                all were entertaining
Name: text, dtype: object

In [ ]:
import nltk
from nltk.corpus import stopwords

stopwords_list = stopwords.words("english")

In [ ]:
include_stopwords = ["wouldn", "won", "weren", "wasn", "shouldn", "shan", "needn", "mustn",
                     "mightn", "isn", "haven", "hasn", "hadn", "doesn", "didn", "couldn",
                     "aren", "ain", "don", "not"]

In [ ]:
stopwords_list = list(set(stopwords_list) - set(include_stopwords)) + ["would"]

In [ ]:
def remove_stopwords(words):
    clean_words = []
    for word in words.split():
        if word not in stopwords_list:
            clean_words.append(word)
    return " ".join(clean_words)

df["text"] = df["text"].apply(remove_stopwords)

/tmp/ipykernel_8452/618751014.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].apply(remove_stopwords)

In [ ]:
df["text"][:50]

0                                                  said
1         plus youve added commercials experience tacky
2          didnt today must mean need take another trip
3     really aggressive blast obnoxious entertainmen...
4                                  really big bad thing
5     seriously pay flight seats didnt playing reall...
6     yes nearly every time fly vx ear worm wont go ...
7     really missed prime opportunity men without ha...
8                                         well didntbut
9                 amazing arrived hour early youre good
10    know suicide second leading cause death among ...
11    lt pretty graphics much better minimal iconogr...
12    great deal already thinking nd trip amp havent...
13    im flying fabulous seductive skies u take stre...
14                                               thanks
15                            sfopdx schedule still mia
16    excited first cross country flight lax mco ive...
17    flew nyc sfo last week couldnt fully sit seat ...
18                                               flying
19        know amazingly awesome bosfll please want fly
20    first fares may three times carriers seats ava...
21                        love graphic httptcoutgrrwaaa
22              love hipster innovation feel good brand
23    making bosgtlas non stop permanently anytime soon
24    guys messed seating reserved seating friends g...
25    status match program applied three weeks calle...
26    happened ur vegan food options least say ur si...
27                   miss dont worry well together soon
28    amazing cant get cold air vents vx noair worst...
29    lax ewr middle seat red eye noob maneuver send...
30    hi bked cool birthday trip cant add elevate ca...
31       hours operation club sfo posted online current
32    help left expensive headphones flight iad lax ...
33    awaiting return phone call prefer use online s...
34    great news america could start flights hawaii ...
35    nice rt vibe moodlight takeoff touchdown moodl...
36    moodlighting way fly best experience ever cool...
37                  done done best airline around hands
38                                   book flight hawaii
39       chat support not working site httptcovhpgtdwpk
40    view downtown los angeles hollywood sign beyon...
41    hey first time flyer next week excited im hard...
42             plz help win bid upgrade flight laxgtsea
43    unused ticket moved new city dont fly fly expi...
44              flights leaving dallas seattle time feb
45                      im elevategold good reason rock
46               dream httptcooadrfaoq httptcolwwdackhx
47                                        wow blew mind
48    last night tribute soundofmusic oscars think a...
49                                         entertaining
Name: text, dtype: object

In [ ]:
def remove_one_letter_words(review):
    pattern = re.compile(r"\b\w\b")
    clean_string = re.sub(pattern, "", review)
    return clean_string

df["text"] = df["text"].apply(remove_one_letter_words)

/tmp/ipykernel_8452/2414733538.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].apply(remove_one_letter_words)

In [ ]:
df["text"][:50]

0                                                  said
1         plus youve added commercials experience tacky
2          didnt today must mean need take another trip
3     really aggressive blast obnoxious entertainmen...
4                                  really big bad thing
5     seriously pay flight seats didnt playing reall...
6     yes nearly every time fly vx ear worm wont go ...
7     really missed prime opportunity men without ha...
8                                         well didntbut
9                 amazing arrived hour early youre good
10    know suicide second leading cause death among ...
11    lt pretty graphics much better minimal iconogr...
12    great deal already thinking nd trip amp havent...
13    im flying fabulous seductive skies  take stres...
14                                               thanks
15                            sfopdx schedule still mia
16    excited first cross country flight lax mco ive...
17    flew nyc sfo last week couldnt fully sit seat ...
18                                               flying
19        know amazingly awesome bosfll please want fly
20    first fares may three times carriers seats ava...
21                        love graphic httptcoutgrrwaaa
22              love hipster innovation feel good brand
23    making bosgtlas non stop permanently anytime soon
24    guys messed seating reserved seating friends g...
25    status match program applied three weeks calle...
26    happened ur vegan food options least say ur si...
27                   miss dont worry well together soon
28    amazing cant get cold air vents vx noair worst...
29    lax ewr middle seat red eye noob maneuver send...
30    hi bked cool birthday trip cant add elevate ca...
31       hours operation club sfo posted online current
32    help left expensive headphones flight iad lax ...
33    awaiting return phone call prefer use online s...
34    great news america could start flights hawaii ...
35    nice rt vibe moodlight takeoff touchdown moodl...
36    moodlighting way fly best experience ever cool...
37                  done done best airline around hands
38                                   book flight hawaii
39       chat support not working site httptcovhpgtdwpk
40    view downtown los angeles hollywood sign beyon...
41    hey first time flyer next week excited im hard...
42             plz help win bid upgrade flight laxgtsea
43    unused ticket moved new city dont fly fly expi...
44              flights leaving dallas seattle time feb
45                      im elevategold good reason rock
46               dream httptcooadrfaoq httptcolwwdackhx
47                                        wow blew mind
48    last night tribute soundofmusic oscars think a...
49                                         entertaining
Name: text, dtype: object

In [ ]:
from nltk.stem.wordnet import WordNetLemmatizer
#from nltk.stem import SnowballStemmer
nltk.download("wordnet")
#stemmer = SnowballStemmer("english")
lemmatizer = WordNetLemmatizer()
def lemmatize_words(review):
    lem_words = []
    for word in review.split():
        lem_word = lemmatizer.lemmatize(word)
        lem_words.append(lem_word)
    return " ".join(lem_words)

df["text"] = df["text"].apply(lemmatize_words)

[nltk_data] Downloading package wordnet to /home/james/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
/tmp/ipykernel_8452/2807461820.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].apply(lemmatize_words)

In [ ]:
lemmatize_words("walks walked walk")

'walk walked walk'

In [ ]:
df["text"][:50]

0                                                  said
1          plus youve added commercial experience tacky
2          didnt today must mean need take another trip
3     really aggressive blast obnoxious entertainmen...
4                                  really big bad thing
5     seriously pay flight seat didnt playing really...
6     yes nearly every time fly vx ear worm wont go ...
7     really missed prime opportunity men without ha...
8                                         well didntbut
9                 amazing arrived hour early youre good
10    know suicide second leading cause death among ...
11    lt pretty graphic much better minimal iconography
12    great deal already thinking nd trip amp havent...
13    im flying fabulous seductive sky take stress a...
14                                               thanks
15                            sfopdx schedule still mia
16    excited first cross country flight lax mco ive...
17    flew nyc sfo last week couldnt fully sit seat ...
18                                               flying
19        know amazingly awesome bosfll please want fly
20    first fare may three time carrier seat availab...
21                        love graphic httptcoutgrrwaaa
22              love hipster innovation feel good brand
23    making bosgtlas non stop permanently anytime soon
24    guy messed seating reserved seating friend guy...
25    status match program applied three week called...
26    happened ur vegan food option least say ur sit...
27                   miss dont worry well together soon
28    amazing cant get cold air vent vx noair worstf...
29    lax ewr middle seat red eye noob maneuver send...
30    hi bked cool birthday trip cant add elevate ca...
31        hour operation club sfo posted online current
32    help left expensive headphone flight iad lax t...
33    awaiting return phone call prefer use online s...
34    great news america could start flight hawaii e...
35    nice rt vibe moodlight takeoff touchdown moodl...
36    moodlighting way fly best experience ever cool...
37                   done done best airline around hand
38                                   book flight hawaii
39       chat support not working site httptcovhpgtdwpk
40    view downtown los angeles hollywood sign beyon...
41    hey first time flyer next week excited im hard...
42             plz help win bid upgrade flight laxgtsea
43    unused ticket moved new city dont fly fly expi...
44               flight leaving dallas seattle time feb
45                      im elevategold good reason rock
46               dream httptcooadrfaoq httptcolwwdackhx
47                                        wow blew mind
48    last night tribute soundofmusic oscar think agree
49                                         entertaining
Name: text, dtype: object

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/james/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
def impactful_words_positive(review, num_words=2):
    """Function that gets the most impactful positive reviews"""
    tokens = nltk.word_tokenize(review)
    sia = SentimentIntensityAnalyzer()
    scores = {token: sia.polarity_scores(token)["compound"] for token in tokens}
    sorted_words =  sorted(scores.items(), key=lambda x: x[1], reverse=True)
    impactful_words = [word for word, score in sorted_words][:num_words]
    return " ".join(impactful_words)

In [ ]:
def impactful_words_negative(review, num_words=2):
    """Function that gets the most impactful negative reviews"""
    tokens = nltk.word_tokenize(review)
    sia = SentimentIntensityAnalyzer()
    scores = {token: sia.polarity_scores(token)["compound"] for token in tokens}
    impactful_words = [(word, score) for word, score in scores.items() if score < 0]
    sorted_words =  sorted(impactful_words, key=lambda x: np.abs(x[1]), reverse=True)
    impactful_words = [word for word, score in sorted_words][:num_words]
    return " ".join(impactful_words)

In [ ]:
neg_df = df[df['airline_sentiment']=='negative']
pos_df = df[df['airline_sentiment']=='positive']
neu_df = df[df['airline_sentiment']=='neutral']

In [ ]:
pos_df['impactful_words'] = pos_df['text'].apply(impactful_words_positive)
neg_df['impactful_words'] = neg_df['text'].apply(impactful_words_negative)

/tmp/ipykernel_8452/876497627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pos_df['impactful_words'] = pos_df['text'].apply(impactful_words_positive)
/tmp/ipykernel_8452/876497627.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neg_df['impactful_words'] = neg_df['text'].apply(impactful_words_negative)

In [ ]:
new_df = pd.concat([pos_df, neg_df, neu_df])

In [ ]:
new_df.fillna("neutral", inplace=True)

In [ ]:
new_df.head()

,_unit_id,airline_sentiment,airline_sentiment:confidence,text,impactful_words
1,681448153,positive,0.3486,plus youve added commercial experience tacky,plus youve
6,681448165,positive,0.6745,yes nearly every time fly vx ear worm wont go ...,yes nearly
8,681448169,positive,0.6559,well didntbut,well didntbut
9,681448171,positive,1.0000,amazing arrived hour early youre good,amazing good
11,681448176,positive,1.0000,lt pretty graphic much better minimal iconography,pretty better

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer_sents = TfidfVectorizer(max_features=2000)
X_sents = vectorizer_sents.fit_transform(new_df["text"])

vectorizer_impacts = TfidfVectorizer()
X_impacts = vectorizer_impacts.fit_transform(new_df["impactful_words"])

In [ ]:
X_sents = pd.DataFrame(X_sents.todense())
X_impacts = pd.DataFrame(X_impacts.todense())

In [ ]:
X_train = pd.concat([X_sents, X_impacts], axis=1)

In [ ]:
Y_train = new_df["airline_sentiment"]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train, Y_train)

DecisionTreeClassifier()

In [ ]:
y_preds = clf.predict(X_train)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_train, y_preds)

0.9997950819672131

In [ ]:
X_train

,0,1,2,3,4,5,6,7,8,9,...,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.681002,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.572004,0.0,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
14636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
14637,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
14638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
14639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0

In [ ]:
# import nltk
# nltk.download("punkt")
# from nltk.corpus import stopwords
# from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [ ]:
# import string
# nltk.download("vader")

# sentence = "I really enjoyed the movie. The acting was fantastic, and the plot kept me engaged throughout."
# tokens = nltk.word_tokenize(sentence)
# stopwords_ = set(stopwords.words("english"))
# filtered_tokens = [token for token in tokens if token.lower() not in stopwords_]
# filtered_tokens = [token for token in filtered_tokens if token not in string.punctuation]
# sa = SentimentIntensityAnalyzer()
# scores = {token: sa.polarity_scores(token)["compound"] for token in filtered_tokens}
# sorted_words =  sorted(scores.items(), key=lambda x: x[1], reverse=True)
# positive_words = [word for word, score in sorted_words if score > 0][:num_words]

In [ ]:

h = ["f", "f"]
" ".join(h)

'f f'

In [ ]:
d = pd.DataFrame({"you": ["i", "took"], "where": [["yeah", "yeah"], ["good", "bad"]]})
d

    you         where
0     i  [yeah, yeah]
1  took   [good, bad]

In [ ]:
d["where"] = d["where"].apply(lambda x: " ".join(x))

In [ ]:
d

    you      where
0     i  yeah yeah
1  took   good bad